<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

    <h1 class="titulo">Apple AirTag</h1>
  <div class="flex-conteiner">
    <div>
      
      <img src="produto1.jpg" alt="">

      <h2 class="preco" style="text-align: center;"><strong>Preço:</strong> R$349,90</h2>