<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 
  <% for(let produto of produtos) { %>
    <h1>Anielly</h1>
    <%  }  %>

  <h1 class="titulo">Produtos APPLE:</h1>
  <div class="flex-conteiner">
    <div>
      <a href="/produto1">
      <img src="https://m.media-amazon.com/images/I/516-vNqfxIL._AC_SX679_.jpg" alt="">
    </a>
      <p><strong>Apple AirTag  <br>
            </strong></p>
            <p><strong>R$349,90</strong></p>
    </div>

    <div>
      <a href="/produto2">
      <img src="https://m.media-amazon.com/images/I/41egv0uZKaL._AC_SX679_.jpg" alt=""> </a>
      <p><strong>Apple TV HD (32 GB) <br>
            </strong></p>
            <p><strong>R$1.999,00</strong></p>
    </div>



    <div>
      <a href="/produto3">
      <img src="https://m.media-amazon.com/images/I/41rfDU6FGqL._AC_SX679_.jpg" alt=""> </a>
      <p><strong>Apple iPhone 13 (128 GB) - Meia-noite <br>
            </strong></p>
            <p><strong>R$4.329,00</strong></p>
    </div>

    <div>
      <a href="/produto4">
      <img src="https://m.media-amazon.com/images/I/51IxCp-f3tL._AC_SX679_.jpg" alt=""> </a>
      <p><strong>Apple Watch Series 7 <br>
        (GPS + Cellular)</strong></p>
            <p><strong>R$4.999,00</strong></p>
    </div>
  
    </div>

</body>
</html>