<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 
  

  <h1 class="titulo">Produtos APPLE:</h1>
  <% for(let produto of produtos) { %>
  <div class="flex-conteiner">
    <div>
      <a href="/produto1">
        <h2><%= produto.nome %></h2>
      <img src="/img/<%= produto.imagem %>" alt="">
      
 
    </a>
      <p><strong>Apple AirTag  <br>
            </strong></p>
            <p>Resumo do Produto</p>
            <p><strong>R$349,90</strong></p>
    </div>
   
  </div>
  <%  }  %>
</body>
</html>