body{
    background-color: darkslategrey;
}

img{
    width: 350px;
    height: 350px;
}

.flex-conteiner {
    display: flex;
    justify-content: space-around;
}
.titulo {
    color: #ffffff;
    text-align: center;
}

.preco {
    color: #ffffff;
}
